.cat-info {
    display: flex;
    align-items: center;
}

.image-container img {
width: 40%;

}

.cat-image {
    width: 300px;
    height: auto;
    margin-right: 20px;
}

.cat-details {
    flex: 1;
}

.breed-select {
    width: 200px;
    height: 40px;
    font-size: large;
}

.loader,
.error {
    display: none;
}