.cat-info {
    display: flex;
    align-items: center;

    width: 500px;
}

.image-container img {
    /* max-width: 40%;
    height: auto; */
}

.cat-image {
    width: 300px;
    height: auto;
    margin-right: 20px;
}

.cat-details {
    flex: 1;
}

.breed-select {
    width: 200px;
    height: 40px;
    font-size: large;
}

.loader,
.error {
    display: none;
}